*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: montserrat;
    height:90vh;
    background: url("pic 1 .jpg");
	background-size:cover;
	background-position:center;
}

.matter1{
    width:100%;
    height:auto;
    overflow:auto;
    text-align:center;
    /* margin-top: 1%; */
    /* background-color: rgb(210, 205, 205); */
}
.matter1 .col1{
    /* width:450px; */
    width: 650px;
    height:auto;
    margin:25px;
    display:inline-block;
    border: 3px solid #fff;
    border-radius: 10px;
}
.matter1 .col1 .name{
    margin-top: 15px;
    background: blue;
    color: #fff;
}
.matter1 .col1 .name span{
     font-size: 2.7rem;
    text-transform: capitalize;
    font-family: monospace;
    margin-right: 5px;
}
.matter1 .col1 .picture{
    margin-top: 1rem;
}
.matter1 .col1 .picture img{
    height: 8rem;
    width: 8rem;
    border: 1px solid black;
    border-radius: 50%;
}
.matter1 .col1 .picture .textbox{
    margin-top: 1rem;
}
.matter1 .col1 .picture .textbox input{
    border: none;
    height: 2rem;
    width: 20rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    border-bottom: 4px solid rgb(131, 13, 13);

}
.matter1 .col1 .picture .textbox #no{
    margin-top: 1rem;
    font-size: 18px;
}
.matter1 .col1 .child1{
    /* width: 415px; */
    width: 615px;
    height:auto;
    margin:8px;
    margin-top: 15px;
    margin-left: 13px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 1px solid rgb(19, 243, 11);
    background-color: #fff;
}
.matter1 .col1 .child1 p{
    margin-top: 1rem;
    text-transform: capitalize;
    margin-right: 28rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}
.matter1 .col1 .child1 hr{
    margin-left: 1rem;
}
.matter1 .col1 .child1 a{
    margin-left: 20rem;
    margin-top: 4rem;
    text-transform: uppercase;
}
.matter1 .col1 .child1 #addbook{
    margin-right: 2px;
}
/* ........................... */
@media (max-width:991px){
    .matter1 .col1{
        width:450px;
        height:auto;
        margin:25px;
        display:inline-block;
        border: 3px solid #fff;
        border-radius: 10px;
    }
    .matter1 .col1 .child1{
        width: 415px;
        height:auto;
        margin:8px;
        margin-top: 15px;
        margin-left: 13px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid rgb(19, 243, 11);
        background-color: #fff;
    }
    .matter1 .col1 .child1 p{
        margin-top: 1rem;
        text-transform: capitalize;
        margin-right: 15rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 15px;
    }
    .matter1 .col1 .child1 a{
        margin-left: 10rem;
        margin-top: 4rem;
        text-transform: uppercase;
    }
}